* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color:#000000; /* text color*/
  font-family: "Roboto", sans-serif;
  text-align: center;
  height: 100%;
  color:#ffda6f;
}

#container {
  border: 1px solid #ffda6f;
  box-shadow: 3px 3px 6px  #ffda6f;
  width:410px;
  height: 620px;
  margin: 10px auto;
  padding: 10px;

}

h1{
  font-size: 50px;
  text-shadow: 3px 3px 4px #e2a139;
  margin-bottom: 10px;
}
hr {
  margin-bottom: 40px;
  border: none;
  height: 2px;
  background-color: #ffda6f;
  box-shadow: 3px 3px 6px  #ffda6f;
  width: 300px;
}

button {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1);
}

img {
  width: 150px;  
}

#tails, #heads {
  background-color: #000000;
}

p{
  display: inline-block;
  width:40%;
  margin-top: 0;
  font-size: 22px;
}

 /* for screen smaller than 420px  */
 @media only screen and (max-width: 420px) {
  #container {
    width: 95%;
  }
  img {
    width: 120px;  
  }
}